# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Temporäre Dateien
*.tmp
*.log
*.bak

# Daten- und Modellartefakte
*.csv
*.npz
*.h5
*.keras

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# System-Dateien
.DS_Store
Thumbs.db

# Save test data
!python/data/*

# Conda virtual environments
env/
.conda/
*.conda
*.env
*.venv
python/data/my_env/
python/data/env/
python/data/.conda/
python/data/.env/
python/data/.venv/
