# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Temporäre Dateien
*.tmp
*.log
*.bak

# Daten- und Modellartefakte
*.csv
*.npz
*.h5
*.keras

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# System-Dateien
.DS_Store
Thumbs.db

# Save test data
!python/data/*
